<h1>Answer Questionnaire</h1>

<table class="table">
     
	<tbody>
				<tr>
					<div align="center" >
		 			<%= "Title: Hobbie Questionnaire" %>
		 			</div>
		 			 <br />
		 		</tr>
		 		<tr>
		 			<div align="center">
		 			<%= "Subject: hobbie" %>
		 			</div>
		 			<br />
		 		</tr>
		 		<tr>
		 			<div align="center">
		 			<%= "Description: This is a questionnaire about hobbies." %>
		 			</div>
		 			 <br />
		 		</tr>
		 		<br />
				<hr>
		<% @questions.each do |question| %>
		
		 	<% if question.q_type == 1 %>

		 		<tr>
		 			<%= "Single Choice:" %><br />
		 			<%= question.q_content %> <br />
		 		</tr>

				<% @choices = question.q_choice.split(";") %>
				<% @choices.each do |onechoice| %> 
				
				<tr>
					<div width="30px" style="float:left">
					<%= radio_button_tag 'id_'+question.id.to_s, onechoice %> 
					</div>  
				              <%= label_tag onechoice %>
				</tr>
				<% end %>
				<br />
				<hr>
			<% elsif question.q_type == 2 %>

		 		<tr>
		 			<%= "Multiple Choice:" %><br />
		 			<%= question.q_content %> <br />
		 		</tr>

				<% @choices = question.q_choice.split(";") %>
				<% @choices.each do |onechoice| %> 
				
				<tr>
					<div width="30px" style="float:left">
					<%= check_box_tag 'id_'+question.id.to_s, onechoice %> 
					</div>  
				              <%= label_tag onechoice %>
				</tr>
				<% end %>
				<br />
				<hr>
			<% elsif question.q_type == 3 %>

		 		<tr>
		 			<%= "True/False Choice:" %><br />
		 			<%= question.q_content %> <br />
		 		</tr>

				
				
				<tr>
					<div width="30px" style="float:left">
					<%= radio_button_tag 'id_'+question.id.to_s, "True"%> 
					</div>  
				              <%= label_tag "True" %>
				              <div width="30px" style="float:left">
					<%= radio_button_tag 'id_'+question.id.to_s, "False"%> 
					</div>  
				              <%= label_tag "False" %>
				</tr>
				<br />
				<hr>
			<% elsif question.q_type == 4 %>

		 		<tr>
		 			<%= "Essay Question:" %><br />
		 			<%= question.q_content %> <br />
		 		</tr>

				
				
				<tr>
					<div width="30px" style="float:left">
					<%= text_field_tag 'id_'+question.id.to_s %> 
					</div> 
				</tr>
				<br />
				<hr>
			<% end %>
		<% end %>
		<div align="center">
		<%= button_to "Submit", answer_successfully_path, :class => "btn btn-primary", :method => :get %>
	              </div>
		<br />
		<br />
	</tbody>
	
</table>