<script type="text/javascript">
                function showinfo(id_name)
                {   
                   $("#collapse"+id_name).collapse('toggle');
                }
            </script>
<div style="z-index:10;margin-top:-20px;margin-left:-173px;">
    <video autoplay="autoplay" name="media"  width="1320px"   loop="loop"><source src="<%= video_path('home_video.mp4')%>" type="video/mp4"></video>
  </div>    
<br /><br />
<div style="font-size:25pt;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;;font-weight:bold;position:absolute;color:white;top:120px;left:100px;z-index:100;zoom: 1;">
    FIREFLIES问卷调查网
</div>
<div align="center" class="well well-small"  style="position:absolute;top:120px;right:100px;z-index:100;zoom: 1;width:250px;margin-top:-55px;float:right;display:block">
<div>
    <p style="font-size:15px;font-weight:bold">我们为您挑选的问卷</p>
</div>

<div class="accordion" id="accordion2">
  <% @questionnaires.each do |questionnaire| %>
  <div class="accordion-group">
    <div class="accordion-heading" style="background:#F0F0F0">
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" onclick="showinfo(<%=questionnaire.id%>)" style="color:#282828">
              
               <%= questionnaire.qa_title%>
       </a>
     </div>
     <div id="collapse<%=questionnaire.id%>" class="accordion-body collapse">
       <div class="accordion-inner" style="background:#FAFAFA">
              <p>主题：<%= questionnaire.qa_subject%></p>
              <p>描述：<%= questionnaire.qa_description%></p>
              <a href="/questionnaires/<%= questionnaire.id%>">点此作答</a>
       </div>
     </div>
  </div>
<% end %>
</div>
</div>