<% provide(:title, 'Sign up') %>
<script type="text/javascript">

  function showinfo(id_name)
  {
        $('#name').popover('hide');
        $('#email').popover('hide');
        $('#password').popover('hide');
        $('#password_again').popover('hide');
        $('#age').popover('hide');
        $('#job').popover('hide');
        $('#'+id_name).popover('show');
  }

</script>
<h1>注册</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="hero-unit">
        <div>
          <%= f.label :user_name , "昵称", :style=>"font-size:16px" %>
          <%= f.text_field :user_name,  :style=>"width:100%", :id=>"name", :onfocus=>"showinfo(\"name\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"这是您在系统中显示的名称", "data-original-title"=>"昵称"%>
        </div>
        <div>
          <%= f.label :user_email , "邮箱" , :style=>"font-size:16px"%>
          <%= f.text_field :user_email,  :style=>"width:100%", :id=>"email", :onfocus=>"showinfo(\"email\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"您的邮箱同时也是您的登录帐号，请妥善保存", "data-original-title"=>"邮箱" %>
        </div>
        <div>
          <%= f.label :password , "密码" , :style=>"font-size:16px"%>
          <%= f.password_field :password,  :style=>"width:100%", :id=>"password", :onfocus=>"showinfo(\"password\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"您用于登录本系统的密码", "data-original-title"=>"密码" %>
        </div>
        <div>
          <%= f.label :password_confirmation, "再次输入密码" %>
          <%= f.password_field :password_confirmation,  :style=>"width:100%", :style=>"font-size:16px", :id=>"password_again", :onfocus=>"showinfo(\"password_again\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"再次输入您的密码，请确定它与第一次输入的密码一致", "data-original-title"=>"再次输入密码" %>
        </div>
        <div>
          <%= f.label :user_age , "年龄", :style=>"font-size:16px"%>
          <%= f.text_field :user_age,  :style=>"width:100%", :id=>"age", :onfocus=>"showinfo(\"age\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"请输入您的年龄", "data-original-title"=>"年龄"%>
        </div>
        <div>
          <%= f.label :user_age , "性别", :style=>"font-size:16px"%>
          <%= f.select :user_sex, options_for_select([['男', 'male'],['女', 'female']]) %>
        </div>
        <div>
          <%= f.label :user_job , "职业", :style=>"font-size:16px" %>
          <%= f.text_field :user_job,  :style=>"width:100%", :style=>"font-size:16px", :id=>"job", :onfocus=>"showinfo(\"job\");", "data-toggle"=>"popover" ,"title"=>"", "data-content"=>"请输入您的职业，如学生、上班族等", "data-original-title"=>"职业" %>
        </div>
        <div align="center">
          <br />
          <%= f.submit "创建我的账户", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>