<h1>MY Questionnaires</h1>
<!-- f.submit "Create new Questionnaire", class: "btn btn-large btn-primary"  -->

<table class="table table-striped table-hover">
   <caption><%= current_user.user_name %>'s Questionnaire</caption>
   <thead>
      <tr>
         <th>Title</th>
         <th>Subject</th>
         <th>Update Time</th>
         <th>Status </th>
         <th>Answer Times</th>
         <th>Result</th>
         <th>Operation</th>
      </tr>
   </thead>

   <tbody>
   	<% @questionnaires.each do |questionnaire| %>
	<tr>
		<td><%= questionnaire.qa_title %></td> 
		<td><%= questionnaire.qa_subject %></td>
		<td><%= questionnaire.updated_at %></td>
		<td> 
			<% if questionnaire.qa_status == 0 %>
			<p> Hang</p>
			<% elsif questionnaire.qa_status == 1 %>
			<p> Ongoing</p>
			<%else%>
			<p> Closed</p>
			<%end%>
		</td>
		<td><%= questionnaire.relations.count%></td>
		<td>			
			<% if questionnaire.qa_status == 4 %>
			<%= link_to 'Published', '#'%>
			<%else%>
			<p>Unpublished</p>
			<%end%>
		</td>
		
		<td> 
			<% if questionnaire.qa_status == 1 %>
			<%= link_to 'Close', close_questionnaire_path(questionnaire.id)%>
			<% else %>

			<%= link_to 'Open', open_questionnaire_path(questionnaire.id) %>
			<%= link_to 'Delete', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Report', '#'%>
			<%= link_to 'Edit', '#'%>
			<% end %>
		</td>
	</tr>
     <% end %>
   </tbody>
</table>