<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	function getJson()
	{
		var choiceslist=document.getElementsByTagName("input");
		var json="{\"all\":[";
		for(var i=0;i<choiceslist.length;i++)
		{
			var id_str=choiceslist[i].id;
			var id_s_list=id_str.split("_");
			var type=id_s_list[0];
			var id_no=id_s_list[1];
			if(type=="1")
			{
				
				if(choiceslist[i].checked)
				{
					json+="{\"question_id\":\""+id_s_list[1]+"\",\"answer_content\":\""+id_s_list[2]+"\"},";
				}
				
			}
			else if(type=="2")
			{
				json+="{\"question_id\":\""+id_s_list[1]+"\",\"answer_content\":\"";
				var templength = ("{\"question_id\":\""+id_s_list[1]+"\",\"answer_content\":\"").length;
				var temps="";
				if(choiceslist[i].checked)
				{
					
					temps+=id_s_list[2]+";";
				}
				i++;
				if(i<choiceslist.length)
				{
					id_str=choiceslist[i].id;
				    id_s_list=id_str.split("_");
				}
				while((i<choiceslist.length)&&(choiceslist[i].id[0]=="2")&&id_no==id_s_list[1])
				{
					if(choiceslist[i].checked)
					{
						temps+=id_s_list[2]+";";
					}
					i++;
					if(i<choiceslist.length)
				    {
				    	id_str=choiceslist[i].id;
				    	id_s_list=id_str.split("_");
				    }
				}
				i--;
				temps=temps.substring(0,temps.length-1);
				if(temps!="")
				{
					json+=temps+"\"},";
				}
				else
				{
					json = json.substring(0,json.length-templength);
				}
			}
			else if(type=="3")
			{
				
				if(choiceslist[i].checked)
				{
					json+="{\"question_id\":\""+id_s_list[1]+"\",\"answer_content\":\""+id_s_list[2]+"\"},";
				}
				
			}
		}
		
		choiceslist=document.getElementsByTagName("textarea");
		for(var i=0;i<choiceslist.length;i++)
		{
			var id_str=choiceslist[i].id;
			var id_s_list=id_str.split("_");
			var id_no=id_s_list[1];
			if(choiceslist[i].value!="")
			{
				json+="{\"question_id\":\""+id_s_list[1]+"\",\"answer_content\":\""+ choiceslist[i].value+"\"},";
			}
		}
		json=json.substring(0,json.length-1);
		if(json.length>8)
		{
			json+="]}";
		}
		else
		{
			json +="[]}";
		}
		$("#answer_data").val(json);
	}
</script>
<h1><%=  @questionnaire.qa_title %></h1>
<div align="center">
<table class="table table-striped table-hover" style="width:80%">
     <thead>
	
		 		<tr>
		 			<td>
		 			<div align="center"style="font-size:20px">
		 			<%= "Subject: "  +  @questionnaire.qa_subject %>
		 			</div>
		 			</td>
		 		</tr>
		 		<tr>
		 			<td>
		 			<div align="center"style="font-size:20px">
		 			<%= "Description: "  +  @questionnaire.qa_description %>
		 			</div>
		 			 </td>
		 		</tr>
		 		
				
</thead>
		<tbody>
		<% @questions.each do |question| %>
		
		 	<% if question.q_type == 1 %>

		 		<tr>
		 			<td>
		 			<%= "Single Choice:" %><br />
		 			<div style="font-size:18px"><%= question.q_content %> </div>
		 		

				<% @choices = question.q_choice.split(";") %>
				<% @choices.each do |onechoice| %> 
				
			
					<div width="30px" style="float:left">
					<%= radio_button_tag '1_'+question.id.to_s , onechoice %> 
					</div>  
				              <%= label_tag onechoice %>
				
				<% end %>
				</td></tr>
				
			
			<% elsif question.q_type == 2 %>

		 		<tr>
		 			<td>
		 			<%= "Multiple Choice:" %><br />
		 			<div style="font-size:18px"><%= question.q_content %> </div>
		 		

				<% @choices = question.q_choice.split(";") %>
				<% @choices.each do |onechoice| %> 
				
				
					<div width="30px" style="float:left">
					<%= check_box_tag '2_'+question.id.to_s+ '_'+ onechoice, onechoice %> 
					</div>  
				              <%= label_tag onechoice %>
				
				<% end %>
			</td></tr>
				
			<% elsif question.q_type == 3 %>

		 		<tr>
		 			<td>
		 			<%= "True/False Choice:" %><br />
		 			<div style="font-size:18px"><%= question.q_content %> </div>
		 		
					<div width="30px" style="float:left">
					<%= radio_button_tag '3_'+question.id.to_s, "True"%> 
					</div>  
				              <%= label_tag "True" %>
				              <div width="30px" style="float:left">
					<%= radio_button_tag '3_'+question.id.to_s , "False"%> 
					</div>  
				              <%= label_tag "False" %>
				</td></tr>
				
			<% elsif question.q_type == 4 %>

		 		<tr>
		 			<td>
		 			<%= "Essay Question:" %>
		 			<div style="font-size:18px"><%= question.q_content %> </div>
		 		
					<div width="300px" style="float:left">
					<%= text_area_tag '4_'+question.id.to_s %> 
					</div> 
					<br />
				</td></tr>
				
			<% end %>
		<% end %>
		<br />
		<br />
	</tbody>
</table>
<div align="center">
<li>
<%= form_for (@answer) do |f| %>
                                <%= f.hidden_field :data %>
        <%= f.submit :value => '提交', :onclick=>'getJson();', :class=>'btn btn-large btn-primary'%>
    <% end %>
</li>
</div>
</div>
