<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "FireFlies问卷调查", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li><%= link_to "首页", root_path %></li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 问卷<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "创建问卷", new_questionnaire_path %></li>
                <li class="divider"></li>
                <li><%= link_to "我的问卷", my_questionnaires_user_path(current_user) %></li>
                <li><%= link_to "我的答卷", my_answered_questionnaires_user_path(current_user) %></li>
              </ul>
          </li>
          
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 账户<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "我的主页", @current_user %></li>
               <li><%= link_to "我的资料", edit_user_path(current_user) %></li>
               <li class="divider"></li>
               <li><%= link_to "注销", signout_path, method: "delete" %></li>
              </ul>
          </li>
          <% if admin?%>
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                管理<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><%= link_to "管理用户", users_path%></li>
               <li><%= link_to "管理问卷",  questionnaires_path%></li>
               <li><%= link_to "统计信息", questionnaire_info_path %></li>
              </ul>
          </li>
          <% end %>
          <% else %>
            <li><%= link_to "登录", signin_path %></li>
            <li><%= link_to "注册", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>